[submodule "pyCloudSim"]
	path = pyCloudSim
    	#url = git@github.com:vonpupp/pyCloudSim.git
	#url = https://github.com/vonpupp/pyCloudSim.git
	url = https://github.com/m45t3r/pyCloudSim.git
[submodule "planetlab-workload-traces"]
	path = planetlab-workload-traces
    	#url = git@github.com:vonpupp/planetlab-workload-traces.git
	url = https://github.com/vonpupp/planetlab-workload-traces.git
